<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen** 

* Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html">link</a> for viewing  the   Go to UI screen. 


* Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.  



* Later browse for the downloaded spacex file.



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800">


* Once done select the schema andload the file.  


 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800">


If you are facing a problem in uploading the dataset (which is a csv file), you can follow the steps below to upload the .sql file instead of the CSV file:

* Download the file <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/Spacex%20.sql">Spacex.sql</a>

* Later click on **SQL** in the  **Go to UI Screen**.

* Use the **From file** option to browse for the **SQL** file and upload it.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/sqlfile.png">

* Once you upload the script,you can use the **Run All** option to run all the queries to insert the data.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/runall.png">

In [1]:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
!pip install sqlalchemy==1.3.24
!pip uninstall ipython-sql -y
!pip install ipython-sql==0.4.1

Collecting ibm_db==3.1.0
  Downloading ibm_db-3.1.0.tar.gz (797 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Collecting ibm_db_sa==0.3.3
  Downloading ibm_db_sa-0.3.3.tar.gz (24 kB)
Collecting sqlalchemy>=0.7.3
  Downloading SQLAlchemy-2.0.7-cp38-cp38-win_amd64.whl (2.0 MB)
Collecting greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))
  Downloading greenlet-2.0.2-cp38-cp38-win_amd64.whl (192 kB)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Building wheels for collected packages: ibm-db, ibm-db-sa
  Building wheel for ibm-db (PEP 517): started
  Building wheel for ibm-db (PEP 517): finished with status 'done'
  Created wheel for ibm-db: filename=ibm_db-3.1.0-py3-none-any.whl size=27686966 sha256=56ae25e12de6eaf0091b7efff73c2cc5bc13c7bc3f26b23db0817bc6052cbc5b
  Stored in directory: c:\users\joão chaicoski\appdata\local\pip\cache\wheels\43\71\0a\3065745bc1dc4cafbdcb09e2557082609f7689b16108b670df
  Building wheel for ibm-db-sa (setup.py): started
  Building wheel for ibm-db-sa (setup.py): finished with status 'done'
  Created wheel for ibm-db-sa: filename=ibm_db_sa-0.3.3-py3-none-any.whl size=27414 sha256=29b5f549751fde4b01923154dd48963fb951b8b1d2aa1cd1169fc45a0e83bd4e
  Stored in directory: c:\users\joão chaicoski\appdata\local\pip\cache\wheels\ca\a9\b6\4f6402aa714d6e9903b79a15fbc3b2f02bf72da989b7708c18
Successfully built ibm-db ibm-db-sa
Installing collected packages: ibm-db, greenlet, typing-extensions, sqlalchemy, ibm-db-sa
  Attempting uninstall: greenlet
    Found existing installation: greenlet 0.4.17
    Uninstalling greenlet-0.4.17:
      Successfully uninstalled greenlet-0.4.17
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.7.4.3
    Uninstalling typing-extensions-3.7.4.3:
      Successfully uninstalled typing-extensions-3.7.4.3
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.20
    Uninstalling SQLAlchemy-1.3.20:
      Successfully uninstalled SQLAlchemy-1.3.20
Successfully installed greenlet-2.0.2 ibm-db-3.1.0 ibm-db-sa-0.3.3 sqlalchemy-2.0.7 typing-extensions-4.5.0
Collecting sqlalchemy==1.3.24
  Downloading SQLAlchemy-1.3.24-cp38-cp38-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.7
    Uninstalling SQLAlchemy-2.0.7:
      Successfully uninstalled SQLAlchemy-2.0.7
Successfully installed sqlalchemy-1.3.24

WARNING: Skipping ipython-sql as it is not installed.

Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: ipython>=1.0 in c:\anaconda\lib\site-packages (from ipython-sql==0.4.1) (7.19.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\anaconda\lib\site-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: six in c:\anaconda\lib\site-packages (from ipython-sql==0.4.1) (1.15.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.tar.bz2 (21 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\anaconda\lib\site-packages (from ipython-sql==0.4.1) (1.3.24)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.8)
Requirement already satisfied: pygments in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.7.2)
Requirement already satisfied: traitlets>=4.2 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.0.5)
Requirement already satisfied: backcall in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.4.4)
Requirement already satisfied: decorator in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: jedi>=0.10 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.17.1)
Requirement already satisfied: pickleshare in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (50.3.1.post20201107)
Requirement already satisfied: wcwidth in c:\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\anaconda\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13705 sha256=c0fc307f29d2ac3d5ac8ac7016ef76dd445912448e0f0de55eeac4d46a4c5ac2
  Stored in directory: c:\users\joão chaicoski\appdata\local\pip\cache\wheels\46\60\6c\bb25d05df22906786206e901e9354bb3061061191116768bee
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.3

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql




**DB2 magic in case of  UI service credentials.**



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width="600">  

* Use the following format.

* Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL**

In [9]:
from sqlalchemy import create_engine

# Replace <server_name> with the name of your SQL Server instance and <database_name> with the name of your database
engine = create_engine('mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server')

# Replace <username> and <password> with your SQL Server login credentials
connection = engine.connect()

In [12]:
%sql mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [13]:
%sql SELECT DISTINCT Launch_Site FROM spacex

 * mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [18]:
%sql SELECT TOP 5 Launch_Site FROM spacex WHERE Launch_Site LIKE 'CCA%'

 * mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [19]:
%sql SELECT SUM(PAYLOAD_MASS_KG_) FROM spacex

 * mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(619967,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [20]:
%sql SELECT AVG(PAYLOAD_MASS_KG_) FROM spacex WHERE Booster_Version LIKE 'F9 v1.1%'

 * mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(2534,)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [21]:
%sql SELECT MIN(Date) FROM spacex WHERE Landing_Outcome LIKE 'Success (ground pad)'

 * mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [23]:
%sql SELECT Booster_Version FROM spacex WHERE Landing_Outcome LIKE 'Success (drone ship)' AND PAYLOAD_MASS_KG_ > 4000 AND PAYLOAD_MASS_KG_ < 6000

 * mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [32]:
%sql SELECT Mission_Outcome, COUNT(*) AS num_outcomes FROM spacex GROUP BY Mission_Outcome

 * mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [35]:
%sql SELECT DISTINCT Booster_Version FROM spacex WHERE PAYLOAD_MASS_KG_ = (SELECT MAX(PAYLOAD_MASS_KG_) FROM spacex)

 * mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1049.7',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1060.3',)]

### Task 9


##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [36]:
%sql SELECT Launch_Site, Booster_Version, Landing_Outcome FROM spacex WHERE YEAR(Date) = 2015 AND Landing_Outcome = 'Failure (drone ship)'

 * mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('CCAFS LC-40', 'F9 v1.1 B1012', 'Failure (drone ship)'),
 ('CCAFS LC-40', 'F9 v1.1 B1015', 'Failure (drone ship)')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [43]:
%sql SELECT Landing_Outcome AS Outcome, COUNT(*) AS Count FROM spacex WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Count DESC

 * mssql+pyodbc://DESKTOP-VNJI26V\SQLEXPRESS/IBM_Projeto?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-10-12 | 0.4 |Lakshmi Holla | Changed markdown|
| 2021-08-24 | 0.3 |Lakshmi Holla | Added library update|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>